{% assign option_name_downcase = option.name | downcase %}

{% for value in option.values %}
  {% assign id = section.id | append: '-' | append: option.name | append: '-' | append: forloop.index0 %}
  {% assign value_downcase = value | handleize %}

  <input
    type="radio"
    id="{{ id }}"
    name="options[{{ option.name | escape }}]"
    value="{{ value | escape }}"
    form="{{ product_form_id }}"
    class="sr-only"
    {% if option.selected_value == value %}checked{% endif %}
  >

  <label
    for="{{ id }}"
    class="variant__button-label"
    {% if option_name_downcase == 'color' %}
      style="background-color: {{ value | downcase }};"
      title="{{ value }}"
    {% endif %}
  >
    <span class="sr-only">{{ value }}</span>
    {% unless option_name_downcase == 'color' %}
      {{ value }}
    {% endunless %}
  </label>
{% endfor %}